body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.airplane-img {
  width: 80%;
}

#flights-table th {
  border-color: #96D4D4;
}

.ticket-info {
  display: inline;
}